.item-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 1em;

}
.outer-container {
   grid-area: content;
}

@media screen and (max-width: 1024px) {
    .item-container {
        grid-template-columns: repeat(2, 1fr);

    }
}